@import "_variable.scss";

@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin reset-button {
  text-transform: none;
  border: none;
  cursor: pointer;
}

@mixin styled-scroll($zIndex: 10) {
  overflow: overlay;
  z-index: $zIndex;

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent; 
    position: absolute;
    // right: -10px;
    overflow: overlay;
    scrollbar-gutter: stable;
    z-index: $zIndex;

  }
  
  &::-webkit-scrollbar {
    width: 12px;
    z-index: $zIndex;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: rgba($color-gray-light, .4);
    z-index: $zIndex;
  }
}

@mixin empty-text {
  font-size: $font-size-xsmall;
  color: $color-gray-light;
  font-weight: $font-weight-bold;
}