@import "_variable.scss";

@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin reset-button {
  text-transform: none;
  border: none;
  cursor: pointer;
}

@mixin styled-scroll {
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent; 
    position: absolute;
    // right: -10px;
    overflow: overlay;
    scrollbar-gutter: stable;
    z-index: 10;

  }
  
  &::-webkit-scrollbar {
    width: 12px;
  }
  
  &::-webkit-scrollbar-thumb{
    background-color: rgba($color-gray-light, .8);
  }
}