@import './variable';

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: $font-size-regular;
  line-height: 1.4;
  font-weight: $font-weight-regular;
  color: $color-light;
}

svg {
  line-height: 100%;
}