@import "../../assets/scss/_variable.scss";

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 3rem;
  padding-top: 9rem !important;
  background-color: $color-gray-light;
  background-image: linear-gradient(transparent 0, rgba($color-black, .5) 100%);
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  filter: opacity(.85);
  -webkit-filter: opacity(.85);
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: $color-white;
  margin-left: 3.2rem;
  z-index: 1;

  & > h2 {
    // TODO: this not working
    word-wrap: break-word;
    word-break: break-all;
    hyphens: auto;
    font-size: 9rem;
    margin-top: auto;
    cursor: pointer;
    user-select: none;
  }

  & > p:first-child {
    font-size: $font-size-small;
    font-weight: $font-size-large;
  }
}

.descriptionText {
  min-height: 4rem;
  font-size: $font-size-xsmall;
  font-weight: $font-weight-bold;
  color: $color-white;
  margin-bottom: .8rem;
}

.stats {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: auto;
  line-height: 1.2rem;
  
  & > p {
    font-size: $font-size-xsmall;
    font-weight: $font-weight-bold;
    color: $color-white;
  }
}