@import "../../../assets/scss/_variable.scss";

.root {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: .4rem 1.6rem;
  box-sizing: border-box;
  border-radius: 4px;
  user-select: none;
  line-height: 1.2;
}

.root:hover {
  background-color: rgba($color-gray-medium, .65);
}

.index {
  position: relative;
  width: 3rem;
  margin-right: 1.2rem;
  font-size: $font-size-small !important;

  & > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  & > img {
    height: 1.2rem;
    width: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.root:hover {
  & > .index > img {
    display: none;
  }
}

.playIcon {
  position: absolute;
  background-color: transparent;
  margin-right: 1.6rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;

  & > svg {
    fill: $color-white;
  }
}

.root:hover > .index > p {
  visibility: hidden;
}

.root:hover > .index > .playIcon {
  visibility: visible;
}

.mainInfo {
  flex: 2;
  display: flex;
  flex-direction: row;

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.photo {
  height: 4rem;
  width: 4rem;
  margin-right: 1.4rem;
  box-shadow: $box-shawdow-btn;
}

.album {
  flex: 1;
  margin: 0 2rem;
}

.creationTime {
  margin-right: 12rem;
  width: 10rem;
}

.mainText {
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
}

.secondaryText {
  font-size: $font-size-xsmall;
  font-weight: $font-weight-medium;
  color: $color-gray-xlight;
}

.root:hover .secondaryText {
  color: $color-white;
}

.length {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
  text-align: center;

  & > button {
    background-color: transparent;
    width: 1.6rem;
    height: 1.6rem;
    visibility: hidden;
  }

  & > button > svg {
    fill: white;
    width: 1.2rem;
    height: 1.2rem;
  }

}

.root:hover > .length > button {
  visibility: visible;
}


// header
.durationIcon {
  stroke: currentColor;
  height: 1.6rem;
  width: 1.6rem;
  align-self: center;
  margin: 0 auto;
}

.noHover {
  &:hover {
    background-color: unset;
  }

  
  &:hover .secondaryText {
    color: $color-gray-xlight;
  }

  
  &:hover > .index > p {
    visibility: visible;
  }

}

.activeColor {
  color: $color-blue-dark;
}