
@import "../../assets/scss/_mixin.scss";

.container {
  width: 100%;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  & > * {
    margin-right:  2rem;
    margin-bottom: 2rem
  }
}

.emptyText {
  @include empty-text;
}