@import "../../assets/scss/_variable.scss";

.container {
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  border-bottom: 1px solid $color-gray-medium;
  padding-bottom: .8rem;
  margin-bottom: 1.6rem;
}