@import "../../../assets/scss/_variable.scss";
@import "../../../assets/scss/_mixin.scss";

.container {
  height: 100%;
  width: 100%;
  @include styled-scroll(1001);
}

.detail {
  display: flex;
  flex-direction: row;
  margin: 3rem;
}

.stats {
  flex: 1;
  // background: red;
}

.description {
  flex: 3;

  & > p:first-child {
    font-size: $font-size-small;
    line-height: 1.5;
    color: $color-light;
  }
}

.statsItem {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.horizontal {
  flex-direction: row;
  align-items: center;
}

.value {
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  color: $color-white;
}

.label {
  font-size: $font-size-xsmall;
  font-weight: $font-weight-regular;
  line-height: 1.2;
}

.icon {
  width: 2.8rem;
  height: 2.8rem;
  fill: currentColor;
  margin-right: .4rem;
}