@import "../../../assets/scss/_variable.scss";

@keyframes change-background {
  from {background-color: $color-gray-medium;}
  to {background-color: rgba($color-gray-light, .9);}
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30rem;
  background-color: $color-gray-medium;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  transition: background .5s ease-out;

  &:hover {
    background-color: rgba($color-gray-light, .9);
  }
}

.cover {
  height: 8rem;
  width: 8rem;
  box-shadow: 4px 4px 20px $color-gray-dark;
}

.title {
  flex: 1;
  margin: 0 1.6rem;
  font-size: $font-size-small;
  color: $color-white;
  font-weight: $font-weight-bold;
  line-height: 1.5;
}