@import "../../assets/scss/_variable.scss";

.container {
  display: flex;
  flex-direction: column;
}

.inputWrapper {
  display: flex;
  flex-direction: column-reverse;
  background-color: rgba($color-black, .5);
  padding: 1rem;
  border-radius: 4px;
}

.inputWrapperLight {
  background-color: $color-white;
}

.label {
  text-transform: uppercase;
  font-size: $font-size-small;
  font-weight: $font-weight-medium;
  color: $color-gray-xlight;
  padding: .5rem 0;
  
  & > span {
    color: #f74686;
  }
}

.labelLight {
  color: $color-gray-dark;
}

.input, .textarea {
  padding: .4em;
  padding-right: 2.4em;
  background-color: transparent;
  border: none;
  color: $color-light !important;
  font-size: $font-size-regular;

  &::placeholder {
    color: $color-gray-light;
  }

  &:focus {
    outline: none;

    &::placeholder {
      color: $color-gray-xlight;
    }

    & + .label, & ~ .clearButton {
      color: $color-white;
    }

    & + .searchIcon {
      fill: $color-light;
    }

    & ~ .clearButton {
      color: $color-white;

      & > .clearIcon {
        stroke: none;
      }
    }
  }
}

.inputLight {
  color: $color-gray-xdark !important;

  &:focus {
    outline: none;
    &::placeholder {
      color: $color-gray-xlight;
    }
  }

  &::placeholder {
    color: $color-gray-xlight;
  }

  &:focus + .label {
    color: $color-gray-dark;
  }

  &:focus + .searchIcon {
    fill: $color-gray-dark;
  }

  &:focus ~ .clearButton {
    color: $color-gray-dark;
  }
}

.searchBar {
  position: relative;
  border-radius: 100px;
  padding: .6rem 1rem;

  & > input {
    padding-left: 2.4em;
    font-size: $font-size-small;
  }
}

.searchIcon {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 1.2rem;
  transform: translateY(-50%);
  height: 2.4rem;
  width: 2.4rem;
  fill: $color-gray-xlight;

}

.clearButton {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 1.2rem;
  transform: translateY(-50%);
  height: 2.4rem;
  width: 2.4rem;
  background-color: transparent;
  color: $color-gray-xlight;

  & > svg {
    stroke: none;
  }
}

.clearIcon {
  height: 2.4rem !important;
  width: 2.4rem !important;
}

.password {
  -webkit-text-security: disc;
}

.error {
  height: 1.2rem;
  padding-top: 3px;
  font-size: $font-size-tiny;
  color: $color-error;

  & > span::before {
    content: "⚠";
    margin-right: 8px;
    margin-left: 4px;
  }
}